/Ejemplos/nbproject/private/
/Ejemplos/build/
/Problematicas/problema1/nbproject/private/
/Problematicas/problema2/nbproject/private/
/Problematicas/problema3/nbproject/private/
/Problematicas/problema1/build/
/Problematicas/problema3/build/
/Problematicas/problema2/build/
/Problematicas/problema4/nbproject/private/
/Problematicas/Problema5/nbproject/private/
/Problematicas/problema4/build/
/Problematicas/Problema5/build/
